@import "./../../index.scss";

.post-page-wrapper {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  padding: 20px;
  color: white;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow-y: scroll;

  &.no-posts {
    padding-top: 300px;
  }

  .post-info {
    max-width: 500px;
  }

  .img-wrapper {
    max-width: 500px;
    img {
      border-radius: 50%;
      box-shadow: 0 20px 50px rgba(240, 46, 170, 0.7);
    }
  }
}

.post-page-wrapper::-webkit-scrollbar-track {
  @include scrollbar-track();
}

.post-page-wrapper::-webkit-scrollbar {
  @include scrollbar();
}

.post-page-wrapper::-webkit-scrollbar-thumb {
  @include scrollbar-thumb();
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    color: #090120;
  }
}
